/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html {
	height: 100%;
}

body
{
    background-position: left top;
    background-color: #666666;
    font-family: Helvetica, Verdana, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
    background-repeat: repeat-x;
	height: 100%
}

#wrapper
{
	border-color: #696969;
	position: relative;
	width:960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#header
{

    position: relative;
	margin-left: auto;
	margin-right: auto;
    width: 960px;
    height: 150px;
    margin-bottom: 0px;
    padding: 0;
    background-image: url('../images/header.jpeg');
}

#main
{
	/* this height hack is weird, but makes the min-height work */
	min-height: 500px;
	height: 100%;
	position: relative;
	padding: 50px;
    background-color: #fff;
	margin: 0;
}

#footer
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	color: #4e504b;
	text-align: center;
	padding: 1px;
}

#footer p
{
	padding-top: 10px;
	font-size: .75em;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	border-top-color: #bfbfbf;
	border-top-style: dashed;
	border-top-width: 2px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    position: relative;
    margin: 0;
	padding-left: 50px;
	background-color: #4e504b;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li a
{
	padding: 5px 10px;
    text-decoration: none;
    line-height: 2em;
    color: #C76924;
	font-weight: 600;
}

ul#menu li a:hover
{
    background-color: #bfbfbf;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/*** LINKS  ***/

a
{
	color: #C76924;
}

a:hover
{
	color: #D88024;
}