<!DOCTYPE html>
{% load media cms blog google_cse google_analytics %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block css %}
      {% include_media 'main.css' %}
    {% endblock %}

    {% block preload_js %}
      {% google_analytics_code %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>
  
  
  <body>
	<div id="wrapper">
		<div id="header"></div>

		<div class="columns">
			<div id="menucontainer">
				  <ul id="menu" class="menu">
					{% show_menu %}
				  </ul>
			</div>
			<div class="column" id="main">
			
				<div class="content" id="content">
				{% google_search_form %}

				{% block content-header %}
				  {% if error %}<div class="error">{{ error }}</div>{% endif %}
				  {% if info %}<div class="info">{{ info }}</div>{% endif %}
				  {% if messages %}
					{% for message in messages %}
					  <div class="info">{{ message }}</div>
					{% endfor %}
				  {% endif %}
				{% endblock %}

				<div id="cse" style="width:100%; display:inline;"></div>
				

				
				{% block content %}{% endblock %}
				</div>
				  
			</div>

			<div class="column" id="sidebar" >
				{% block sidebar %}
				  {% show_block 'sidebar' %}
				{% endblock %}
			</div>
		</div>
		
		<div id="footer">
		  <p>
			{% if site_copyright %} Copyright {{ site_copyright }} {% endif %}
		  </p>
		</div>
		
		{% block js %}
		{% endblock %}
	</div>
  </body>
</html>
